<!-- Completeness -->
{% if data["metadata"]["show"]["completeness"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-dhus-availability-completeness">DHUS completeness summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-dhus-availability-completeness">
      <!-- Completeness pie charts -->
      <div class="row">
        {% for level in parsed_levels[0] %}
        {% if level in parsed_levels[0] and expected_dhus_products_duration[level] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">{{ level }} availability in DHUS</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue"><canvas id="dhus-availability-pie-{{ level }}-completeness" width="400" height="300"></canvas></div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>

      <!-- Completeness summaries -->
      <div class="row">
        <div class="col-xs-3">
          <div class="panel panel-primary">
            <div class="panel-heading" align="center" style="font-size: 20px">Expected acquired radar image duration (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-expected-radar-image">{{ expected_acquisition_duration }}</div>
          </div>
        </div>
        {% for level in parsed_levels[0] %}
        {% if level in parsed_levels[0] %}
        <div class="col-xs-3">
          <div class="panel panel-success">
            <div class="panel-heading" align="center" style="font-size: 20px">Duration of {{ level }} products available in DHUS (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: green" id="summary-dhus-completeness-available-duration-{{ level }}">{{ (expected_dhus_products_duration[level] - missing_dhus_products_duration[level])|round(3) }}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        {% for level in parsed_levels[0] %}
        {% if level in parsed_levels[0] and missing_dhus_products_duration[level] > 0 %}
        <div class="col-xs-3">
          <div class="panel panel-danger">
            <div class="panel-heading" align="center" style="font-size: 20px">Missing duration of {{ level }} in DHUS (m)</div>
            <div class="panel-body" align="center" style="font-size: 50px; color: darkred" id="summary-dhus-completeness-missing-duration-{{ level }}">{{ missing_dhus_products_duration[level] }}</div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Timeliness -->
{% if data["metadata"]["show"]["timeliness"] %}
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#summary-dhus-availability-timeliness">DHUS timeliness summary <span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="summary-dhus-availability-timeliness">
      {% for level in parsed_levels[0] %}
        {% if level in parsed_levels[0] and (expected_dhus_products_duration[level] - missing_dhus_products_duration[level]) > 0 %}
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#summary-dhus-availability-timeliness-{{ level }}">DHUS timeliness summary for {{ level }} <span class="fa fa-angle-double-down"></span></a>
            </h3>
          </div>
          <div class="panel-body panel-collapse collapse in" id="summary-dhus-availability-timeliness-{{ level }}">
            <div class="col-xs-3">
              <div class="panel panel-primary">
                <div class="panel-heading" align="center" style="font-size: 20px">Min. delta time to DHUS (m)</div>
                <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-minimum-delta-to-dhus-{{ level }}"></div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="panel panel-primary">
                <div class="panel-heading" align="center" style="font-size: 20px">Max. delta time to DHUS (m)</div>
                <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-maximum-delta-to-dhus-{{ level }}"></div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="panel panel-primary">
                <div class="panel-heading" align="center" style="font-size: 20px">Avg. delta time to DHUS (m)</div>
                <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-average-delta-to-dhus-{{ level }}"></div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="panel panel-primary">
                <div class="panel-heading" align="center" style="font-size: 20px">Standard deviation (m)</div>
                <div class="panel-body" align="center" style="font-size: 50px; color: steelblue" id="summary-dhus-completeness-std-delta-to-dhus-{{ level }}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
