<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-availability-timeline-section">DHUS completeness timeline<span class="fa fa-angle-double-down"></span></a>
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-availability-timeline-section">
        <p>
          <b>The following timeline shows the completeness of the publication of data in DHUS from planning:</b>
        </p>
        <div id="dhus-availability-timeline">
        </div>
    </div>
  </div>
</div>
