{% extends "panel/index.html" %}

<!-- Levels to analyze -->
{% set parsed_levels = [["L0", "L1_SLC", "L1_GRD", "L2_OCN"]] %}
{% if data["metadata"]["levels"] != "ALL" %}
{% do parsed_levels.pop() %}
{% do parsed_levels.append([data["metadata"]["levels"]]) %}
{% endif %}

<!-- 
Group of events
 -->
<!-- Planned imaging -->
{% set planned_imaging_events = data|get_events_json(data["event_groups"]["planned_imaging"]) %}

<!-- Completeness events -->
{% set dhus_product_completeness_events = {} %}
{% set list_of_lists_products_completeness = [[]] %}
{% for level in parsed_levels[0] %}
{% do dhus_product_completeness_events.update({level: data|get_events_json(data["event_groups"]["dhus_product_completeness_" + level])}) %}
{% do list_of_lists_products_completeness.append(dhus_product_completeness_events[level]["events"]) %}
{% endfor %}
{% set list_products_completeness = list_of_lists_products_completeness|flatten %}

<!-- Expected DHUS products duration -->
{% set expected_dhus_products_duration = {} %}
{% for level in parsed_levels[0] %}
{% do expected_dhus_products_duration.update({level: ((dhus_product_completeness_events[level]["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "UNEXPECTED", "op": "!="}}])|get_timeline_duration_from_events_json) / 60)}) %}
{% endfor %}

<!-- Unexpected DHUS products duration -->
{% set unexpected_dhus_products_duration = {} %}
{% for level in parsed_levels[0] %}
{% do unexpected_dhus_products_duration.update({level: ((dhus_product_completeness_events[level]["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "UNEXPECTED", "op": "=="}}])|get_timeline_duration_from_events_json) / 60)}) %}
{% endfor %}

<!-- Missing processing duration -->
{% set missing_dhus_products = {} %}
{% set missing_dhus_products_duration = {} %}
{% set expected_generated_dhus_products_duration = {} %}
{% for level in parsed_levels[0] %}
{% do missing_dhus_products.update({level: dhus_product_completeness_events[level]["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "MISSING", "op": "=="}}])}) %}
{% do missing_dhus_products_duration.update({level: ((missing_dhus_products[level]|get_timeline_duration_from_events_json / 60))}) %}
{% do expected_generated_dhus_products_duration.update({level: (expected_dhus_products_duration[level] - missing_dhus_products_duration[level])}) %}
{% endfor %}

<!-- Complete route with the view content -->
{% if data["metadata"]["view_content"] == "completeness" %}
{% set view = "?view=completeness" %}
{% set title = "completeness from planning view" %}
{% elif data["metadata"]["view_content"] == "timeliness" %}
{% set view = "?view=timeliness" %}
{% set title = "timeliness from planning view" %}
{% elif data["metadata"]["view_content"] == "volumes" %}
{% set view = "?view=volumes" %}
{% set title = "data volumes view" %}
{% else %}
{% set title = "completeness and timeliness from planning and data volumes view" %}
{% endif %}

{% block content %}
<div class="row">
  <h1 class="page-header">Data Availability in DHUS, {{ title }}</h1>
</div>
<!-- /.row -->

{% include "views/dhus_availability/dhus_availability_content.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}

{% include "views/dhus_availability/dhus_availability_scripts.html" %}

{% endblock %}
