<script type="text/javascript">

  {% if data["event_groups"]["planned_imaging"]|length > 0 %}

  {% include "js/dhus_availability/dhus_availability_functions.js" %}
  
  {% include "js/dhus_availability/dhus_availability_data_for_widgets.js" %}

  {% if data["metadata"]["view_content"] == "completeness" %}
  var groups = [];
  var items = [];

  vboa.prepare_events_data_for_timeline(dhus_availability_data_timeline, items, groups);
  vboa.display_timeline("dhus-availability-timeline", items, groups);
  {% endif %}
  
  {% if sliding_window %}
  var parameters = {
      "window_delay": "{{ sliding_window['window_delay'] }}",
      "window_size": "{{ sliding_window['window_size'] }}",
      "mission": "{{ sliding_window['mission'] }}",
      "levels": "{{ sliding_window['levels'] }}"
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/views/sliding-dhus-availability-parameters");
  {% endif %}
  {% endif %}
</script>
