<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if type_of_table == "COMPLETE" %}
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-list-{{ type_of_table }}">Data availability in DHUS <span class="fa fa-angle-double-down"></span></a>
        {% else %}
        {% set list_products_completeness = missing_dhus_products["L0"] + missing_dhus_products["L1_SLC"] + missing_dhus_products["L1_GRD"] + missing_dhus_products["L2_OCN"] %}
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-list-{{ type_of_table }}" style="color:red">Missing products in DHUS <span class="fa fa-angle-double-down"></span></a>
        {% endif %}
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-completeness-list-{{ type_of_table }}">
      <p>
        <b>The following table shows the status of the publication of data in DHUS from planning</b>:
      </p>
      <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-columns-help-list-{{ type_of_table }}"><b>Columns help:</b> <span class="fa fa-angle-double-down"></span></a>
      <div class="panel-body panel-collapse collapse" id="dhus-completeness-columns-help-list-{{ type_of_table }}">
        {% include "views/dhus_availability/dhus_availability_content_columns_help.html" %}
      </div>
      <!--table-->
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="dhus-completeness-list-table-{{ type_of_table }}">
        {% set product_information_columns = 9 %}
        {% if data["metadata"]["show"]["timeliness"] %}
        {% set product_information_columns = product_information_columns + 1 %}
        {% endif %}
        {% if data["metadata"]["show"]["volumes"] %}
        {% set product_information_columns = product_information_columns + 1 %}
        {% endif %}
        <thead>
          <tr>
            <th colspan="{{ product_information_columns }}">Product information</th>
            <th colspan="3">Planned imaging</th>
          </tr>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (m)</th>
            <th>Imaging mode</th>
            <th>Status</th>
            <th>Product</th>
            {% if data["metadata"]["show"]["timeliness"] %}
            <th>Time to DHUS publication (m)</th>
            {% endif %}
            {% if data["metadata"]["show"]["volumes"] %}
            <th>Size (GB)</th>
            {% endif %}
            <th>Datatake id</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Datatake duration (m)</th>
          </tr>
        </thead>
        <tbody>
          {% for completeness in list_products_completeness|sort(attribute="start") %}

          <!-- Obtain planned imaging -->
          {% set planned_imaging = completeness|get_linking_event("PLANNED_IMAGING", data) %}

          <!-- Obtain level -->
          {% set level = completeness["gauge"]["name"].replace("PLANNED_IMAGING_DHUS_PRODUCT_COMPLETENESS_", "") %}

          <!-- Obtain relevant values -->
          {% set values = completeness|get_values([{"name": {"filter": "satellite","op": "=="}, "group":"satellite"}, {"name": {"filter": ["orbit","start_orbit"],"op": "in"}, "group":"orbit"}, {"name": {"filter": "status","op": "=="}, "group":"status"}, {"name": {"filter": "datatake_id","op": "=="}, "group":"datatake_id"}]) %}
          <!-- Obtain satellite -->
          {% set satellite = values["satellite"][0]["value"] %}

          <!-- Obtain sensing orbit -->
          {% set orbit = values["orbit"][0]["value"] %}

          <!-- Obtain status -->
          {% set status = values["status"][0]["value"] %}

          <!-- Obtain datatake id -->
          {% set datatake_id = values["datatake_id"][0]["value"] %}

          <!-- Obtain information related to the product if available -->
          {% set dhus_product = "N/A" %}
          {% set delta_to_dhus = "N/A" %}
          {% set size = "N/A" %}
          {% if status != "MISSING" %}
          {% set dhus_product = completeness["explicit_reference"]["name"] %}
          {% endif %}

          <!-- Define the imaging mode -->
          {% if planned_imaging %}
          {% set planned_imaging_values = planned_imaging|get_values([{"name": {"filter": "imaging_mode_long_name","op": "=="}, "group":"imaging_mode"}]) %}
          {% set imaging_mode = planned_imaging_values["imaging_mode"][0]["value"] %}
          {% elif status != "MISSING" %}
          {% set imaging_mode = dhus_product[4:6] %}
          {% else %}
          {% set imaging_mode = "N/A" %}
          {% endif %}

          <!-- Define status class -->
          {% if status == "MISSING" %}
          {% set status_class = "bold-red" %}
          {% else %}
          
          {% if data["metadata"]["show"]["timeliness"] or data["metadata"]["show"]["volumes"] %}
          {% set er = data["explicit_references"][completeness["explicit_reference"]["uuid"]] %}

          {% set annotations = er|get_annotations([{"name": {"filter": "DHUS_METADATA_INFORMATION","op": "=="}, "group":"metadata"}, {"name": {"filter": "DHUS_PUBLICATION_TIME","op": "=="}, "group":"publication_time"}]) %}
          
          {% if data["metadata"]["show"]["timeliness"] %}
          {% set publication_time_values = annotations["publication_time"]|get_annotations_from_data(data)|first|get_values([{"name": {"filter": "dhus_publication_time","op": "=="}, "group":"publication_time"}]) %}

          {% if planned_imaging %}
          {% set delta_to_dhus = (publication_time_values["publication_time"][0]["value"]|date_op(planned_imaging.stop, "-") / 60)|round(3) %}
          {% else %}
          {% set delta_to_dhus = (publication_time_values["publication_time"][0]["value"]|date_op(completeness.stop, "-") / 60)|round(3) %}
          {% endif %}

          
          {% endif %}
          
          {% if data["metadata"]["show"]["volumes"] %}
          {% set size_values = annotations["metadata"]|get_annotations_from_data(data)|first|get_values([{"name": {"filter": "size","op": "=="}, "group":"size"}]) %}

          {% set size = (size_values["size"][0]["value"]|float / 1000 / 1000 / 1000)|round(3) %}
          
          {% endif %}
          {% endif %}

          {% if status == "UNEXPECTED" %}
          {% set status_class = "bold-blue" %}
          {% else %}
          {% set status_class = "bold-green" %}
          {% endif %}
          
          {% endif %}

          <tr>
            <td>{{ level }}</td>
            <td>{{ satellite }}</td>
            {% if planned_imaging %}
            <td><a href="/eboa_nav/query-event-links/{{ planned_imaging.event_uuid }}">{{ orbit }}</a></td>
            {% else %}
            <td>{{ orbit }}</td>
            {% endif %}
            <td>{{ completeness.start }}</td>
            <td>{{ completeness.stop }}</td>
            <td>{{ (completeness.duration / 60)|round(3) }}</td>
            <td>{{ imaging_mode }}</td>
            {% if planned_imaging %}
            <td><a class="{{ status_class }}" href="/views/dhus-availability-by-datatake/{{ planned_imaging.event_uuid }}">{{ status }}</a></td>
            {% else %}
            <td><a class="{{ status_class }}">{{ status }}</a></td>
            {% endif %}
            {% if dhus_product != "N/A" %}
            <td><a href="/eboa_nav/query-event-links/{{ completeness.event_uuid }}">{{ dhus_product }}</a></td>
            {% else %}
            <td><a class="{{ status_class }}">{{ dhus_product }}</a></td>
            {% endif %}
            {% if data["metadata"]["show"]["timeliness"] %}
            {% if delta_to_dhus == "N/A" %}
            <td><a class="{{ status_class }}">{{ delta_to_dhus }}</a></td>
            {% else %}
            <td>{{ delta_to_dhus }}</td>
            {% endif %}
            {% endif %}
            {% if data["metadata"]["show"]["volumes"] %}
            {% if size == "N/A" %}
            <td><a class="{{ status_class }}">{{ size }}</a></td>
            {% else %}
            <td>{{ size }}</td>
            {% endif %}
            {% endif %}
            <td>{{ datatake_id }}</td>
            {% if planned_imaging %}
            <td>{{ planned_imaging.start }}</td>
            <td>{{ planned_imaging.stop }}</td>
            <td>{{ (planned_imaging.duration / 60)|round(3) }}</td>
            {% else %}
            <td><a class="bold-red">N/A</a></td>
            <td><a class="bold-red">N/A</a></td>
            <td><a class="bold-red">N/A</a></td>
            {% endif %}
          </tr>
          
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Duration (m)</th>
            <th>Imaging mode</th>
            <th>Status</th>
            <th>Product</th>
            {% if data["metadata"]["show"]["timeliness"] %}
            <th>Time to DHUS publication (m)</th>
            {% endif %}
            {% if data["metadata"]["show"]["volumes"] %}
            <th>Size (GB)</th>
            {% endif %}
            <th>Datatake id</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Datatake duration (m)</th>
          </tr>
        </tfoot>
      </table>
      <br/>
    </div>
  </div>
</div>
