<script type="text/javascript">

  {% if list_products_completeness|length > 0 %}

  {% include "js/dhus_availability/dhus_availability_functions.js" %}
  
  {% include "js/dhus_availability/dhus_availability_data_for_widgets.js" %}

  {% if data["metadata"]["show"]["timeliness"] %}

  {# Timeliness #}
  {% for level in parsed_levels[0] %}
  {% if level in parsed_levels[0] and (expected_generated_dhus_products_duration[level] > 0 or unexpected_dhus_products_duration[level] > 0) %}

  var groups = [];
  var items = [];

  vboa.prepare_events_data_for_bar(dhus_availability_data_timeliness["{{ level }}"], items, groups);

  var options = {
      legend: true,
      style: "bar",
      barChart: {width:10,
                 align:"center",
                 sideBySide:true},
      height: 350,
      dataAxis: {
          left: {
              range: {
                  min: 0
              },
              title: {
                  text: "Delta time to DHUS (m)",
              }
          }
      }
  };
  
  vboa.display_bar_time("dhus-availability-timeliness-{{ level }}", items, groups, options);

  {# Statistics #}
  var min_dom = document.getElementById("summary-dhus-timeliness-minimum-delta-to-dhus-{{ level }}");
  min_dom.innerHTML = vboa.math.min(...dhus_availability_data_timeliness_for_statistics["{{ level }}"]).toFixed(3);
  var max_dom = document.getElementById("summary-dhus-timeliness-maximum-delta-to-dhus-{{ level }}");
  max_dom.innerHTML = vboa.math.max(...dhus_availability_data_timeliness_for_statistics["{{ level }}"]).toFixed(3);
  var avg_dom = document.getElementById("summary-dhus-timeliness-average-delta-to-dhus-{{ level }}");
  avg_dom.innerHTML = vboa.math.mean(...dhus_availability_data_timeliness_for_statistics["{{ level }}"]).toFixed(3);
  var std_dom = document.getElementById("summary-dhus-timeliness-std-delta-to-dhus-{{ level }}");
  std_dom.innerHTML = vboa.math.std(...dhus_availability_data_timeliness_for_statistics["{{ level }}"]).toFixed(3);
  
  {% endif %}
  {% endfor %}

  {% endif %}
  
  {% if data["metadata"]["show"]["completeness"] %}

  {# Pie completeness #}
  {% for level in parsed_levels[0] %}
  {% if level in parsed_levels[0] and (expected_generated_dhus_products_duration[level] > 0 or unexpected_dhus_products_duration[level] > 0) %}
  var completeness = [{{ expected_generated_dhus_products_duration[level]|round(3) }}, {{ missing_dhus_products_duration[level]|round(3) }}, {{ unexpected_dhus_products_duration[level]|round(3) }}]
  var completeness_background_color = ["green", "darkred", "darkblue"]
  var completeness_labels = ["{{ level }} expected available in DHUS", "{{ level }} missing in DHUS", "{{ level }} unexpected available in DHUS"]

  var data = {
  datasets: [{
  data: completeness,
  backgroundColor: completeness_background_color
  }],
  labels: completeness_labels
  }
  
  vboa.display_pie("dhus-availability-pie-{{ level }}-completeness", data)
  {% endif %}
  {% endfor %}

  var groups = [];
  var items = [];

  vboa.prepare_events_data_for_timeline(dhus_availability_data_timeline, items, groups);
  vboa.display_timeline("dhus-availability-timeline", items, groups);

  {% endif %}

  {% if data["metadata"]["show"]["volumes"] %}
{% if ("L0" in parsed_levels[0] and (expected_generated_dhus_products_duration["L0"] > 0 or unexpected_dhus_products_duration["L0"] > 0)) or ("L1_SLC" in parsed_levels[0] and (expected_generated_dhus_products_duration["L1_SLC"] > 0 or unexpected_dhus_products_duration["L1_SLC"] > 0)) or ("L1_GRD" in parsed_levels[0] and (expected_generated_dhus_products_duration["L1_GRD"] > 0 or unexpected_dhus_products_duration["L1_GRD"] > 0)) or ("L2_OCN" in parsed_levels[0] and (expected_generated_dhus_products_duration["L2_OCN"] > 0 or unexpected_dhus_products_duration["L2_OCN"] > 0)) %}
  
  var volumes = []
  var volumes_labels = []
  var volumes_background_color = []
  var default_background_color = {
      "L0": "darkblue",
      "L1_SLC": "gold",
      "L1_GRD": "darkmagenta",
      "L2_OCN": "darkgreen",
  }

  {# XY graphs #}
  {% for level in parsed_levels[0] %}
  {% if level in parsed_levels[0] and (expected_generated_dhus_products_duration[level] > 0 or unexpected_dhus_products_duration[level] > 0) %}

  {# Statistics #}
  var total_dom = document.getElementById("summary-dhus-volumes-total-{{ level }}");
  var total_value = vboa.math.sum(...dhus_availability_data_volumes_for_statistics["{{ level }}"]).toFixed(3);
  total_dom.innerHTML = total_value;
  volumes.push(total_value)
  volumes_labels.push("{{ level }} total (GB) available in DHUS")
  volumes_background_color.push(default_background_color["{{ level }}"])
  var min_dom = document.getElementById("summary-dhus-volumes-minimum-{{ level }}");
  min_dom.innerHTML = vboa.math.min(...dhus_availability_data_volumes_for_statistics["{{ level }}"]).toFixed(3);
  var max_dom = document.getElementById("summary-dhus-volumes-maximum-{{ level }}");
  max_dom.innerHTML = vboa.math.max(...dhus_availability_data_volumes_for_statistics["{{ level }}"]).toFixed(3);
  var avg_dom = document.getElementById("summary-dhus-volumes-average-{{ level }}");
  avg_dom.innerHTML = vboa.math.mean(...dhus_availability_data_volumes_for_statistics["{{ level }}"]).toFixed(3);
  var std_dom = document.getElementById("summary-dhus-volumes-std-{{ level }}");
  std_dom.innerHTML = vboa.math.std(...dhus_availability_data_volumes_for_statistics["{{ level }}"]).toFixed(3);

  var groups = [];
  var items = [];
  var options = vboa.prepare_events_data_for_xy(dhus_availability_data_volumes["{{ level }}"], items, groups, "Data volume evolution (GB)");
  vboa.display_x_time("dhus-availability-volumes-{{ level }}", items, groups, options);
  
  {% endif %}
  {% endfor %}

  {# Pie #}
  var data = {
      datasets: [{
          data: volumes,
          backgroundColor: volumes_background_color
      }],
      labels: volumes_labels
  }
  
  vboa.display_pie("dhus-availability-pie-volumes", data)

  {% endif %}
  {% endif %}
  
  {% if sliding_window %}
  var parameters = {
      "window_delay": "{{ sliding_window['window_delay'] }}",
      "window_size": "{{ sliding_window['window_size'] }}",
      "mission": "{{ sliding_window['mission'] }}",
      "levels": "{{ sliding_window['levels'] }}"
  }
  var repeat_cycle = {{ sliding_window['repeat_cycle'] }}
  vboa.update_view(parameters, repeat_cycle, "/views/sliding-dhus-availability-parameters");
  {% endif %}
  {% endif %}
</script>
