<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {% if type_of_table == "COMPLETE" %}
        {% set list_products_completeness = dhus_product_completeness_l0_events["events"] + dhus_product_completeness_l1_slc_events["events"] + dhus_product_completeness_l1_grd_events["events"] + dhus_product_completeness_l2_ocn_events["events"] %}
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-list-{{ type_of_table }}">Data availability in DHUS <span class="fa fa-angle-double-down"></span></a>
        {% else %}
        {% set list_products_completeness = missing_dhus_products["L0"] + missing_dhus_products["L1_SLC"] + missing_dhus_products["L1_GRD"] + missing_dhus_products["L2_OCN"] %}
        <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-list-{{ type_of_table }}" style="color:red">Missing products in DHUS <span class="fa fa-angle-double-down"></span></a>
        {% endif %}
      </h3>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body panel-collapse collapse in" id="dhus-completeness-list-{{ type_of_table }}">
      <p>
        <b>The following table shows the status of the publication of data in DHUS from planning</b>:
      </p>
      <a data-toggle="collapse" data-parent="#accordion" href="#dhus-completeness-columns-help-list-{{ type_of_table }}"><b>Columns help:</b> <span class="fa fa-angle-double-down"></span></a>
      <div class="panel-body panel-collapse collapse" id="dhus-completeness-columns-help-list-{{ type_of_table }}">
        {% include "views/dhus_completeness/dhus_completeness_content_columns_help.html" %}
      </div>
      <!--table-->
      <table width="100%" class="table table-striped table-bordered table-hover table-search" id="dhus-completeness-list-table-{{ type_of_table }}">
        <thead>
          <tr>
            <th colspan="8">Product information</th>
            <th colspan="3">Planned imaging</th>
          </tr>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Status</th>
            <th>Product</th>
            <th>Time to DHUS publication (m)</th>
            <th>Datatake id</th>
            <th>Start</th>
            <th>Stop</th>
          </tr>
        </thead>
        <tbody>
          {% for completeness in list_products_completeness|sort(attribute="start") %}

          <!-- Obtain planned imaging -->
          {% set planned_imaging = completeness|get_linking_event("PLANNED_IMAGING", data) %}

          <!-- Obtain level -->
          {% set level = completeness["gauge"]["name"].replace("PLANNED_IMAGING_DHUS_PRODUCT_COMPLETENESS_", "") %}

          <!-- Obtain relevant values -->
          {% set values = completeness|get_values([{"name": {"filter": "satellite","op": "=="}, "group":"satellite"}, {"name": {"filter": ".*orbit","op": "regex"}, "group":"orbit"}, {"name": {"filter": "status","op": "=="}, "group":"status"}, {"name": {"filter": "datatake_id","op": "=="}, "group":"datatake_id"}]) %}
          <!-- Obtain satellite -->
          {% set satellite = values["satellite"][0]["value"] %}

          <!-- Obtain sensing orbit -->
          {% set orbit = values["orbit"][0]["value"] %}

          <!-- Obtain status -->
          {% set status = values["status"][0]["value"] %}

          <!-- Obtain datatake id -->
          {% set datatake_id = values["datatake_id"][0]["value"] %}

          <!-- Obtain information related to the product if available -->
          {% set dhus_product = "N/A" %}
          {% set time_to_dhus = "N/A" %}
          {% if "explicit_reference" in completeness %}
          {% set dhus_product = completeness["explicit_reference"]["name"] %}
          {% endif %}

          <!-- Define status class -->
          {% if status == "MISSING" %}
          {% set status_class = "bold-red" %}
          {% elif status == "UNEXPECTED" %}
          {% set status_class = "bold-blue" %}
          {% else %}
          {% set status_class = "bold-green" %}
          {% endif %}

          <tr>
            <td>{{ level }}</td>
            <td>{{ satellite }}</td>
            {% if planned_imaging %}
            <td><a href="/eboa_nav/query-event-links/{{ planned_imaging['event_uuid'] }}">{{ orbit }}</a></td>
            {% else %}
            <td>{{ orbit }}</td>
            {% endif %}
            <td>{{ completeness["start"] }}</td>
            <td>{{ completeness["stop"] }}</td>
            <td><a class="{{ status_class }}" href="/views/dhus-completeness-by-datatake/{{ planned_imaging.event_uuid }}">{{ status }}</a></td>
            {% if dhus_product != "N/A" %}
            <td>{{ dhus_product }}</td>
            {% else %}
            <td><a class="{{ status_class }}">{{ dhus_product }}</a></td>
            {% endif %}
            <td><a class="{{ status_class }}">{{ time_to_dhus }}</a></td>
            <td>{{ datatake_id }}</td>
            <td>{{ planned_imaging["start"] }}</td>
            <td>{{ planned_imaging["stop"] }}</td>
          </tr>
          
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Level</th>
            <th>Satellite</th>
            <th>Orbit</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Status</th>
            <th>Product</th>
            <th>Time to DHUS publication (m)</th>
            <th>Datatake id</th>
            <th>Start</th>
            <th>Stop</th>
          </tr>
        </tfoot>
      </table>
      <br/>
    </div>
  </div>
</div>
