{% extends "panel/index.html" %}

<!-- Levels to analyze -->
{% set parsed_levels = [["L0", "L1_SLC", "L1_GRD", "L2_OCN"]] %}
{% if data["metadata"]["levels"] != "ALL" %}
{% do parsed_levels.pop() %}
{% do parsed_levels.append(data["metadata"]["levels"]) %}
{% endif %}

<!-- Group of events -->
{% set planned_imaging_events = data|get_events_json(data["event_groups"]["planned_imaging"]) %}
{% set dhus_product_completeness_l0_events = data|get_events_json(data["event_groups"]["dhus_product_completeness_l0"]) %}
{% set dhus_product_completeness_l1_slc_events = data|get_events_json(data["event_groups"]["dhus_product_completeness_l1_slc"]) %}
{% set dhus_product_completeness_l1_grd_events = data|get_events_json(data["event_groups"]["dhus_product_completeness_l1_grd"]) %}
{% set dhus_product_completeness_l2_ocn_events = data|get_events_json(data["event_groups"]["dhus_product_completeness_l2_ocn"]) %}

<!-- Expected acquired MSI duration from planning -->
{% set expected_acquisition_duration = ((data|get_timeline_duration_from_data_json(data["event_groups"]["planned_imaging"])) / 60)|round(3) %}

<!-- Expected DHUS products duration -->
{% set expected_dhus_products_duration = {} %}
{% do expected_dhus_products_duration.update({"L0": ((data|get_timeline_duration_from_data_json(data["event_groups"]["dhus_product_completeness_l0"])) / 60)|round(3)}) %}
{% do expected_dhus_products_duration.update({"L1_SLC": ((data|get_timeline_duration_from_data_json(data["event_groups"]["dhus_product_completeness_l1_slc"])) / 60)|round(3)}) %}
{% do expected_dhus_products_duration.update({"L1_GRD": ((data|get_timeline_duration_from_data_json(data["event_groups"]["dhus_product_completeness_l1_grd"])) / 60)|round(3)}) %}
{% do expected_dhus_products_duration.update({"L2_OCN": ((data|get_timeline_duration_from_data_json(data["event_groups"]["dhus_product_completeness_l2_ocn"])) / 60)|round(3)}) %}

<!-- Missing processing duration -->
{% set missing_dhus_products = {} %}
{% set missing_dhus_products_duration = {} %}
<!-- L0 -->
{% do missing_dhus_products.update({"L0": dhus_product_completeness_l0_events["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "MISSING", "op": "=="}}])}) %}
{% do missing_dhus_products_duration.update({"L0": ((missing_dhus_products["L0"]|get_timeline_duration_from_events_json / 60))|round(3)}) %}
<!-- L1_SLC -->
{% do missing_dhus_products.update({"L1_SLC": dhus_product_completeness_l1_slc_events["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "MISSING", "op": "=="}}])}) %}
{% do missing_dhus_products_duration.update({"L1_SLC": ((missing_dhus_products["L1_SLC"]|get_timeline_duration_from_events_json / 60))|round(3)}) %}
<!-- L1_GRD -->
{% do missing_dhus_products.update({"L1_GRD": dhus_product_completeness_l1_grd_events["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "MISSING", "op": "=="}}])}) %}
{% do missing_dhus_products_duration.update({"L1_GRD": ((missing_dhus_products["L1_GRD"]|get_timeline_duration_from_events_json / 60))|round(3)}) %}
<!-- L2_OCN -->
{% do missing_dhus_products.update({"L2_OCN": dhus_product_completeness_l2_ocn_events["events"]|get_events_filtered_by_values([{"name": {"filter": "status", "op": "=="}, "value": {"filter": "MISSING", "op": "=="}}])}) %}
{% do missing_dhus_products_duration.update({"L2_OCN": ((missing_dhus_products["L2_OCN"]|get_timeline_duration_from_events_json / 60))|round(3)}) %}


{% block content %}
<div class="row">
  <h1 class="page-header">Data Availability in DHUS, completeness from planning</h1>
</div>
<!-- /.row -->

{% include "views/dhus_completeness/dhus_completeness_content.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}
{#{% include "views/dhus_completeness/dhus_completeness_scripts.html" %}#}
{% endblock %}
